@font-face {
  font-family: 'System';
  src: local('.SFNSText-Light'),
       local('.HelveticaNeueDeskInterface-Light'),
       local('.LucidaGrandeUI'),
       local('Ubuntu Light'),
       local('Segoe UI Light'),
       local('Roboto-Light'),
       local('DroidSans'),
       local('Tahoma');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: url('../font/montserrat/montserrat-thin.eot');
  src: url('../font/montserrat/montserrat-thin.eot?#iefix') format('embedded-opentype'),
       url('../font/montserrat/montserrat-thin.woff2') format('woff2'),
       url('../font/montserrat/montserrat-thin.woff') format('woff'),
       url('../font/montserrat/montserrat-thin.ttf') format('truetype'),
       url('../font/montserrat/montserrat-thin.svg#montserratthin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('../font/montserrat/montserrat-extralight.eot');
  src: url('../font/montserrat/montserrat-extralight.eot?#iefix') format('embedded-opentype'),
       url('../font/montserrat/montserrat-extralight.woff2') format('woff2'),
       url('../font/montserrat/montserrat-extralight.woff') format('woff'),
       url('../font/montserrat/montserrat-extralight.ttf') format('truetype'),
       url('../font/montserrat/montserrat-extralight.svg#montserratextralight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../font/montserrat/montserrat-light.eot');
  src: url('../font/montserrat/montserrat-light.eot?#iefix') format('embedded-opentype'),
       url('../font/montserrat/montserrat-light.woff2') format('woff2'),
       url('../font/montserrat/montserrat-light.woff') format('woff'),
       url('../font/montserrat/montserrat-light.ttf') format('truetype'),
       url('../font/montserrat/montserrat-light.svg#montserratlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../font/montserrat/montserrat-regular.eot');
  src: url('../font/montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
       url('../font/montserrat/montserrat-regular.woff2') format('woff2'),
       url('../font/montserrat/montserrat-regular.woff') format('woff'),
       url('../font/montserrat/montserrat-regular.ttf') format('truetype'),
       url('../font/montserrat/montserrat-regular.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../font/montserrat/montserrat-medium.eot');
  src: url('../font/montserrat/montserrat-medium.eot?#iefix') format('embedded-opentype'),
       url('../font/montserrat/montserrat-medium.woff2') format('woff2'),
       url('../font/montserrat/montserrat-medium.woff') format('woff'),
       url('../font/montserrat/montserrat-medium.ttf') format('truetype'),
       url('../font/montserrat/montserrat-medium.svg#montserratmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../font/montserrat/montserrat-semibold.eot');
  src: url('../font/montserrat/montserrat-semibold.eot?#iefix') format('embedded-opentype'),
       url('../font/montserrat/montserrat-semibold.woff2') format('woff2'),
       url('../font/montserrat/montserrat-semibold.woff') format('woff'),
       url('../font/montserrat/montserrat-semibold.ttf') format('truetype'),
       url('../font/montserrat/montserrat-semibold.svg#montserratsemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../font/montserrat/montserrat-bold.eot');
  src: url('../font/montserrat/montserrat-bold.eot?#iefix') format('embedded-opentype'),
       url('../font/montserrat/montserrat-bold.woff2') format('woff2'),
       url('../font/montserrat/montserrat-bold.woff') format('woff'),
       url('../font/montserrat/montserrat-bold.ttf') format('truetype'),
       url('../font/montserrat/montserrat-bold.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('../font/montserrat/montserrat-extrabold.eot');
  src: url('../font/montserrat/montserrat-extrabold.eot?#iefix') format('embedded-opentype'),
       url('../font/montserrat/montserrat-extrabold.woff2') format('woff2'),
       url('../font/montserrat/montserrat-extrabold.woff') format('woff'),
       url('../font/montserrat/montserrat-extrabold.ttf') format('truetype'),
       url('../font/montserrat/montserrat-extrabold.svg#montserratextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('../font/montserrat/montserrat-black.eot');
  src: url('../font/montserrat/montserrat-black.eot?#iefix') format('embedded-opentype'),
       url('../font/montserrat/montserrat-black.woff2') format('woff2'),
       url('../font/montserrat/montserrat-black.woff') format('woff'),
       url('../font/montserrat/montserrat-black.ttf') format('truetype'),
       url('../font/montserrat/montserrat-black.svg#montserratblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
