// --------------------------------------------------
// google maps trash
// --------------------------------------------------
a[href^="http://maps.google.com/maps"] {
  display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none !important;
}
.gmnoprint div {
  background: none !important;
}
