// --------------------------------------------------
// wordpress core
// --------------------------------------------------
.alignnone {
  margin: 5px 20px 20px 0px;
}

.aligncenter,
div.aligncenter {
  margin: 5px auto 5px auto;
  display: block;
}

.alignright {
  margin: 5px 0px 20px 20px;
  float: right;
}

.alignleft {
  margin: 5px 20px 20px 0px;
  float: left;
}

a img.alignright {
  margin: 5px 0px 20px 20px;
  float: right;
}

a img.alignnone {
  margin: 5px 20px 20px 0px;
}

a img.alignleft {
  margin: 5px 20px 20px 0px;
  float: left;
}

a img.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.wp-caption {
  max-width: 96%;
  padding: 5px 3px 10px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0px;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0px;
}

.wp-caption.alignright {
  margin: 5px 0px 20px 20px;
}

.wp-caption img {
  width: auto;
  max-width: 98.5%;
  height: auto;
  margin: 0px;
  padding: 0px;
  border: 0px none;
}

.wp-caption p.wp-caption-text {
  margin: 0px;
  padding: 0px 4px 5px;
  font-size: 11px;
  line-height: 17px;
}

.screen-reader-text {
  width: 1px;
  height: 1px;
  position: absolute !important;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.screen-reader-text:focus {
  width: auto;
  height: auto;
  padding: 15px 23px 14px;
  top: 5px;
  left: 5px;
  color: #21759b;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: none;
  line-height: normal;
  background-color: #f1f1f1;
  .border-radius(3px);
  .box-shadow(0px 0px 2px 2px rgba(0, 0, 0, 0.6));
  display: block;
  z-index: 100000;
  clip: auto !important;
}
