// default font
@default-font: "System";

// montserrat
@mon-thin: "Montserrat-Thin";
@mon-extralight: "Montserrat-ExtraLight";
@mon-light: "Montserrat-Light";
@mon-regular: "Montserrat-Regular";
@mon-medium: "Montserrat-Medium";
@mon-semibold: "Montserrat-SemiBold";
@mon-bold: "Montserrat-Bold";
@mon-extrabold: "Montserrat-ExtraBold";
@mon-black: "Montserrat-Black";
